
<div class="game--card__main">
    <div class="game--card__img">
        <img src="{{thumbnail}}" alt="{{title}}">
    </div>
    <div class="game--card__info">
        <p>Инфо:</p>
        <div class="game--card__more">
            <div class="game--card__el"><p>Жанр: &nbsp;</p>  <span> {{genre}}</span></div>
            <div class="game--card__el"><p>Платформа: &nbsp;</p><span> {{platform}}</span></div>
            <div class="game--card__el"><p>Разработчик: &nbsp;</p><span> {{developer}}</span></div>
            <div class="game--card__el"><p>Дата релиза: &nbsp;</p><span> {{release_date}}</span></div>
        </div>
    </div>
    <div class="game--card__info">
        <p>Системные требования:</p>
        <div class="game--card__more">
            {{#each minimum_system_requirements }}
                <div class="game--card__el"><p>{{@key}}:&nbsp;</p> <span>{{.}}</span></div>
            {{/each}}
        </div>
    </div>
    </div>
</div>

<div class="game--card__description">

    <div>
        <button class="game--card__backToList"></button>
        <h3>{{title}}</h3>
    </div>
    <div><p>{{description}}</p></div>
    <div class="game--card__wrapper">
        <p>Скриншоты: </p>
        <div class="game--card__screenshots">
            {{#each screenshots}}
                {{> screenshot}}
            {{/each}}
        </div>
    </div>
</div>

