<footer class="footer">
    <div class="footer--social">
        <div class="footer--social__item">
            <a href="mailto:teo.brozzz@yandex.ru" >
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path d="M256,0C114.609,0,0,114.609,0,256c0,141.391,114.609,256,256,256c141.391,0,256-114.609,256-256
		C512,114.609,397.391,0,256,0z M256,472c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z
		"/>
    <g>
		<path d="M259.203,231.438c-3.391,0-6.734,1.062-10.078,3.234c-3.312,2.156-6.312,4.891-8.938,8.188
			c-2.625,3.312-4.75,6.891-6.312,10.781c-1.578,3.921-2.359,7.609-2.359,11.093c0,2.156,0.297,4.281,0.844,6.392
			c0.578,2.125,1.453,4,2.672,5.656c1.172,1.702,2.703,3.062,4.594,4.077c1.875,1.017,4.156,1.517,6.781,1.517
			c4.75,0,9.344-1.594,13.719-4.75c4.392-3.219,7.625-7.75,9.608-13.625c1.017-3.108,1.798-5.688,2.345-7.733
			c0.547-2.032,1.03-3.688,1.312-4.954c0.359-1.25,0.517-2.203,0.547-2.875c0.095-0.672,0.109-1.234,0.109-1.703
			c0-4.562-1.438-8.25-4.312-11.062C266.844,232.828,263.328,231.438,259.203,231.438z"/>
        <path d="M256,128c-70.703,0-128,57.312-128,128c0,70.688,57.297,128,128,128c70.688,0,128-57.312,128-128
			C384,185.312,326.688,128,256,128z M316.328,265.109c-2.453,6-5.719,11.031-9.781,15.125c-4.062,4.047-8.734,7.141-13.953,9.156
			c-5.203,2.077-10.578,3.094-16.078,3.094c-3.266,0-5.875-1-7.828-2.984c-1.953-2-3.03-4.375-3.28-7.125
			c-2.625,3.609-5.595,6.156-8.828,7.75c-3.297,1.531-7.109,2.359-11.484,2.359c-4.031,0-7.641-0.767-10.844-2.267
			c-3.188-1.483-5.875-3.483-8.094-5.969c-2.172-2.406-3.875-5.25-5.094-8.358c-1.188-3.125-1.781-6.281-1.781-9.517
			c0-5.312,1-10.625,2.938-16.062c1.953-5.375,4.641-10.266,8.094-14.641c3.438-4.375,7.609-7.969,12.5-10.734
			c4.906-2.75,10.312-4.125,16.188-4.125c2.891,0,5.469,0.484,7.719,1.438s4.156,2.125,5.75,3.5c1.562,1.375,2.875,2.797,3.938,4.25
			c1.047,1.438,1.812,2.938,2.188,4.016L282.375,224h11.484l-14.719,48.531c-0.642,2.188-0.923,3.812-0.923,5.109
			c0,2.983,1.203,4.438,3.767,4.438c1.483,0,3.703-0.453,6.672-1.391c2.922-0.906,5.906-2.703,8.906-5.422
			c3.016-2.656,5.641-6.392,7.938-11.142c2.25-4.75,3.406-11.016,3.406-18.828c0-6.359-1.312-12.172-3.938-17.484
			c-2.702-5.25-6.233-9.812-10.688-13.578c-4.453-3.797-9.548-6.734-15.312-8.812c-5.75-2.109-11.75-3.172-17.891-3.172
			c-8.141,0-15.719,1.438-22.672,4.25c-6.969,2.812-13.047,6.75-18.25,11.797c-5.219,5.016-9.281,11.016-12.25,17.906
			c-2.938,6.906-4.422,14.359-4.422,22.422c0,7.656,1.516,14.656,4.625,20.969c3.078,6.281,7.141,11.656,12.234,16.125
			c5.078,4.422,10.906,7.812,17.5,10.25c6.594,2.406,13.438,3.625,20.594,3.625c9.672,0,18.188-2.391,25.517-6.109
			C291.281,299.734,297.156,288,301.5,288H313c-2.109,0-5.141,10.359-9.078,14.219c-4,3.859-8.484,7.281-13.578,9.875
			c-5.078,2.562-10.578,4.656-16.562,5.906c-5.97,1.25-12.031,1.938-18.156,1.938c-8.172,0-16.078-1.469-23.719-4.469
			c-7.656-3-14.438-7.203-20.312-12.594c-5.906-5.391-10.656-11.797-14.234-19.266c-3.547-7.406-5.359-15.578-5.359-24.484
			c0-10.312,1.891-19.609,5.656-27.875c3.75-8.297,8.812-15.328,15.156-21.141c6.344-5.844,13.656-10.312,22.016-13.422
			c8.359-3.125,17.141-4.688,26.453-4.688c7.516,0,14.828,1.297,21.906,3.875c7.078,2.562,13.344,6.188,18.812,10.797
			c5.469,4.641,9.812,10.141,13.078,16.578c3.266,6.391,4.922,13.438,4.922,21.141C320,252.188,318.734,259.078,316.328,265.109z"/>
	</g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
</svg>
            </a>
        </div>
        <div class="footer--social__item">
            <a href="tel:89513198622">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="485.213px" height="485.212px" viewBox="0 0 485.213 485.212" style="enable-background:new 0 0 485.213 485.212;"
                     xml:space="preserve">
<g>
	<path d="M242.607,0C108.629,0,0.001,108.628,0.001,242.606c0,133.976,108.628,242.606,242.606,242.606
		c133.978,0,242.604-108.631,242.604-242.606C485.212,108.628,376.585,0,242.607,0z M370.719,353.989l-19.425,19.429
		c-3.468,3.463-13.623,5.624-13.949,5.624c-61.452,0.536-120.621-23.602-164.095-67.08c-43.593-43.618-67.759-102.998-67.11-164.657
		c0-0.028,2.224-9.892,5.689-13.324l19.424-19.427c7.108-7.141,20.762-10.368,30.327-7.168l4.086,1.363
		c9.537,3.197,19.55,13.742,22.185,23.457l9.771,35.862c2.635,9.743-0.919,23.604-8.025,30.712l-12.97,12.972
		c12.734,47.142,49.723,84.138,96.873,96.903l12.965-12.975c7.141-7.141,20.997-10.692,30.719-8.061l35.857,9.806
		c9.717,2.67,20.26,12.62,23.456,22.154l1.363,4.145C381.028,333.262,377.826,346.913,370.719,353.989z"/>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
</svg>
            </a>
        </div>
        <div class="footer--social__item">
            <a href="tg://resolve?domain=teobro">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM16.0715 21.8015C13.6673 22.8512 11.1971 23.9298 8.93825 25.174C7.75877 26.0376 9.32638 26.6485 10.7971 27.2215C11.0309 27.3126 11.2622 27.4027 11.4797 27.4927C11.6607 27.5484 11.8447 27.607 12.0312 27.6664C13.6669 28.1875 15.4907 28.7686 17.0787 27.8945C19.6873 26.396 22.149 24.6636 24.6089 22.9325C25.4148 22.3653 26.2205 21.7983 27.0311 21.2397C27.0691 21.2154 27.1119 21.1876 27.1588 21.1573C27.8493 20.7096 29.4024 19.7029 28.8279 21.0901C27.4695 22.5757 26.0144 23.8907 24.5515 25.213C23.5655 26.1041 22.5759 26.9985 21.6099 27.9505C20.7686 28.6341 19.8949 30.0088 20.837 30.9661C23.0069 32.4851 25.2107 33.9673 27.4132 35.4487C28.1299 35.9307 28.8466 36.4127 29.5618 36.8959C30.774 37.8637 32.6685 37.0808 32.935 35.5685C33.0535 34.8728 33.1725 34.1772 33.2915 33.4815C33.9491 29.6368 34.6069 25.7907 35.188 21.9335C35.267 21.3284 35.3565 20.7234 35.4461 20.1181C35.6632 18.651 35.8806 17.1821 35.9485 15.7071C35.7735 14.2351 33.9887 14.5588 32.9955 14.8898C27.8903 16.8324 22.8361 18.919 17.8019 21.0424C17.2316 21.295 16.6535 21.5474 16.0715 21.8015Z" />
                </svg>
            </a>
        </div>
        <div class="footer--social__item">
            <a href="https://vk.com/teo_bro">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM25.2555 31.8761C25.2555 31.8761 25.7175 31.8257 25.9541 31.5762C26.1707 31.3476 26.1632 30.9162 26.1632 30.9162C26.1632 30.9162 26.1344 28.9018 27.0873 28.6043C28.0264 28.3118 29.2321 30.5524 30.5118 31.414C31.4784 32.0654 32.2121 31.9228 32.2121 31.9228L35.6316 31.8761C35.6316 31.8761 37.4196 31.7679 36.5719 30.3877C36.5018 30.2746 36.0773 29.3664 34.0302 27.5006C31.8853 25.5477 32.1733 25.8635 34.7551 22.4849C36.3278 20.4274 36.9563 19.1713 36.7597 18.6343C36.5732 18.1205 35.4162 18.2569 35.4162 18.2569L31.5673 18.2803C31.5673 18.2803 31.2818 18.2422 31.0702 18.3663C30.8636 18.488 30.7296 18.7719 30.7296 18.7719C30.7296 18.7719 30.1211 20.3635 29.3085 21.7179C27.5944 24.5743 26.9095 24.7254 26.629 24.5485C25.9767 24.1343 26.1394 22.8868 26.1394 22.0006C26.1394 19.2316 26.5677 18.0775 25.3068 17.7788C24.8886 17.6793 24.5806 17.6141 23.51 17.6031C22.1365 17.5896 20.9745 17.608 20.3159 17.9239C19.8777 18.134 19.5396 18.6035 19.7462 18.6306C20.0004 18.6637 20.5764 18.783 20.8819 19.191C21.2763 19.7183 21.2625 20.9006 21.2625 20.9006C21.2625 20.9006 21.4892 24.1601 20.7329 24.5644C20.2145 24.8422 19.5033 24.2756 17.9745 21.6835C17.192 20.3562 16.601 18.8887 16.601 18.8887C16.601 18.8887 16.487 18.6146 16.2829 18.4671C16.0363 18.2889 15.6919 18.2336 15.6919 18.2336L12.0346 18.2569C12.0346 18.2569 11.4849 18.2717 11.2833 18.5064C11.1043 18.7141 11.2695 19.1455 11.2695 19.1455C11.2695 19.1455 14.1331 25.7222 17.376 29.037C20.3497 32.0752 23.7254 31.8761 23.7254 31.8761H25.2555Z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="footer--info">
        <div class="footer--info__item">
            by Fedor Sutiagin
        </div>
        <div class="footer--info__item">
            2022
        </div>
    </div>
</footer>