<header class="header">
    <div class="header--logo">
        <img src="" alt="">
    </div>
    <div class="header--nav">
        <ul class="header--menu">
            <li class="header--menu__item"><a href="home" data-menu="main" data-link="ajax">Основная</a></li>
            <li class="header--menu__item"><a href="gamecatalog" data-menu="games" data-link="ajax">Каталог Игр</a></li>
            <li class="header--menu__item"><a href="films" data-menu="films" data-link="ajax">Каталог Фильмов</a></li>
            <li class="header--menu__item"><a href="music" data-menu="music" data-link="ajax">Каталог Музыки</a></li>
            <li class="header--menu__item"><a href="contacts" data-menu="contacts" data-link="ajax">Контакты</a></li>
        </ul>
    </div>
    <div class="header--feedback">
        <button class="header--btn btn">Обратная свзяь</button>
    </div>
</header>