<div class="game--list__item" id="{{id}}">
    <div class="game--list__title">
        <h3>{{title}}</h3>
    </div>
    <div class="game--list__img">
        <img  src="{{thumbnail}}" alt="${{title}}" loading="lazy">
    </div>

    <div class="game--list__more">
        <span>{{genre}} | {{platform}}</span>

    </div>

</div>