<div class="modal">
    <button class="modal--btn"></button>
    <div class="modal--window ">
        <form action="">
            <label for="name">
                <input type="text" id="name" placeholder="Введите Ваше имя">
            </label>
            <label for="email">
                <input type="email" id="email" placeholder="Введите @email">
            </label>
            <label for="theme">
                <input type="text" id="theme" placeholder="Тема письма">
            </label>
            <label for="message">
                <textarea id="message" placeholder="Введите сообщение"></textarea>
            </label>
            <button class="btn">Отправить</button>
        </form>
    </div>
</div>
