<div class="pagination">
    <button class="btn pagination--btn --prev">Назад</button>
    <div class="pagination--wrapper">
        <div class="pagination--number">
            {{> pagination-item}}
        </div>
    </div>
    <button class="btn pagination--btn --next">Далее</button>
</div>