<section class="slider">
    <div class="slider--wrapper">
        <div class="slider--categories">
            <div class="slider--categories__item" >
                <button class="slider--categories__btn  __btn">
                    <div href="gamecatalog" data-menu="games" data-link="ajax">ИГРЫ</div>
                </button>
            </div>
            <div class="slider--categories__item " >
                <button class="slider--categories__btn __btn" id="films">
                    <div href="films" data-menu="films" data-link="ajax">ФИЛЬМЫ</div>
                </button>
            </div>
            <div class="slider--categories__item" >
                <button class="slider--categories__btn  __btn" id="music">
                    <div href="music" data-menu="music" data-link="ajax"><p>МУЗЫКА</div>
                </button>
            </div>
        </div>
    </div>
</section>