
<div class="contacts container">
    <div class="contacts--title">
        Контакты
    </div>
    <div class="contacts--info">
        <div class="contacts--info__item">
             <div class="contacts--info__photo">
                 <img src="" alt="">
             </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>
        <div class="contacts--info__item">
            <div class="contacts--info__photo">
                <img src="" alt="">
            </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>
        <div class="contacts--info__item">
            <div class="contacts--info__photo">
                <img src="" alt="">
            </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>
        <div class="contacts--info__item">
            <div class="contacts--info__photo">
                <img src="" alt="">
            </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>
        <div class="contacts--info__item">
            <div class="contacts--info__photo">
                <img src="" alt="">
            </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>
        <div class="contacts--info__item">
            <div class="contacts--info__photo">
                <img src="" alt="">
            </div>
            <div class="contacts--info__description">
                <div class="contacts--info__name">
                    Ochen Vagnaya Persona
                </div>
                <div class="contacts--info__more">
                    <p>Должность:</p>
                    <p>Tel:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>

    </div>
    <div class="contacts--address">
        <div class="contacts--address__title">
            Адреса
        </div>
        <div class="contacts--address__map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad36b6fb37fa9d2d790bcb7f02c099e54a36e0d8bda66b0faccfec643f5fbb4f2&amp;source=constructor" frameborder="0"></iframe>
        </div>
        <div class="contacts--address__all">
            <div class="contacts--address__main">
                <h2>Главный офис</h2>
                <p>где то в москве, ул.Такая-то д.12</p>
            </div>
            <div class="contacts--address__filial">
                <h2>Не главный офис</h2>
                <p>где то в москве, ул.Такая-то д.13</p>
            </div>
            <div class="contacts--address__filial">
                <h2>Не главный офис</h2>
                <p>где то в москве, ул.Такая-то д.13</p>
            </div>
        </div>

    </div>
</div>

