@import "variables";

@keyframes openWindow {
  0% {
    width: 30px;
    height: 50px;
  }
  30% {
    width: 600px;
    height: 50px;
  }
  100% {
    height: 500px;
  }
}

@keyframes closeWindow {
  0% {
    width: 600px;
    height: 500px;
  }
  80% {
    width: 600px;
    height: 50px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}