@import "variables";

.contacts {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  background-color: white;
  box-shadow: 15px 8px 0 $secondColor;

  &--title {
    position: absolute;
    left: -100px;
    top: 40px;
    @include titleCommon;
  }

  &--info {
    position: relative;
    padding-top: 120px;
    margin-bottom: 50px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: flex;
      padding: 15px;
      width: 400px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
    }

    &__photo {
      background-color: gold;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    &__name {
      font-size: 1.3em;
      font-weight: bold;
      padding-bottom: 10px;
    }

    &__more {

    }
  }

  &--address {
    &__title {
      position: absolute;
      left: -100px;

      @include titleCommon;
    }

    &__map {
      padding: 10% 10% 10px 10%;
      width: 100%;

      iframe {
        width: 100%;
        height: 500px;

        border: 1px solid $mainColor;
      }
    }

    &__all {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2em;
      padding: 15px;
    }

    &__main {

    }
  }
}