@import "variables";

.footer  {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: $footerHight;
  background-color: $secondColor;
  border-bottom: 7px solid $mainColor;


  &--social {
    display: flex;
    justify-content: center;

    &__item {
      width: 100px;

      a {
        svg {
          width: 55px;
          height: 55px;
          fill: gold;
          color: gold;
        }

        &:hover {
          svg {
            fill: green;
          }
        }
      }
    }
  }

  &--info {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 5px;
    font-size: 1.2em;
    color: $mainColor;
    text-align: center;
  }
}