@import 'variables';

.game--list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 600px;

  &__item {
    position: relative;
    display: block;
    width: 300px;
    height: 220px;
    margin: 20px 20px;
    box-shadow: 0 0 10px  $secondColor;
    box-sizing: border-box;
    background: $secondColor;
    border-top: 25px solid $secondColor;
    border-radius: $borderRadius;
    transition: all 0.3s ;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__title {
    position: absolute;
    top: -25px;
    left: 5px;
    color: $mainColor;
    font-size: 1.2em;
  }

  &__img {
    width: 300px;
    height: 168px;
    padding: 0;
    background-color: grey;

    img {
      width: 300px;
      padding: 0;
    }
  }

  &__more {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    width: 100%;
    height: 30px;
    padding: 2px;
    background-color: $secondColor;
    border-radius: 0 0 $borderRadius $borderRadius;
    text-align: left;
    transition: transform 0.3s ease-in-out;

    span {
      width: 100%;
      color: $mainColor;
      text-align: left;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

