@import 'variables';
@import "mixins";
@import 'animations';

.game--card {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 5;
  border-radius: $borderRadius;
  transition: opacity 1s;
  background-color: rgba(12, 18, 50, 0.5);

  &__main{
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column;
    width: 500px;
    margin-top: $headerHight + 100;
    overflow: hidden;
    padding: 10px;
    border-radius: $borderRadius;
  }

  &__img {
    position: relative;
    background-color: white;
    border-radius: $borderRadius;
    padding: 5px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      padding: 5px;
      border-radius: $borderRadius;
    }
  }

  &__description {
    position: relative;
    margin-top: $headerHight + 100;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    width: 950px;
    padding-left: 5px;

    div {
      width: 100%;
      margin-top: 10px;
      border-radius: $borderRadius;
      background-color: white;

      h3 {
        font-size: 4em;
        margin-left: 10px;
        color: $mainColor;
      }
    }

    div:first-child {
      background-color: $secondColor;
      box-shadow: 0 0 5px inset $mainColor;
    }

    p {
      font-size: 1.5em;
      margin: 10px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 5px;

    p {
      font-size: 3em;
      font-weight: bold;
    }
  }

  &__screenshots {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--item {
      width: 330px;
      height: 200px;
      overflow: hidden;
      margin: 5px;
      transition: transform 0.3s;
      background-color: gray;

      img{
        width: 380px;
      }


      &:hover {
        cursor: zoom-in;
      }
    }
    
    &--item {
      background-color: $secondColor;
      overflow: hidden;
    }
  }

  &__info {
    display: block;
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    width: 100%;

    p {
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  &__el {
    display: flex;

    p {
      padding-right: 5px;
      font-weight: bold;
      font-size: 1.1em;
      color: grey;
    }

    span {
      font-size: 1.1em;
    }
  }


  &__backToList {
    position: absolute;
    top: 18px;
    right: 10px;
    height: 60px;
    width: 60px;
    background-color: $secondColor;
    border-radius: 50%;
    cursor: pointer;
    
    &::before {
      position: absolute;
      top: 42%;
      right: 17%;
      transform: rotate(45deg);
      content: '';
      width: 40px;
      height: 10px;
      background: $mainColor;
    }

    &::after {
      position: absolute;
      top: 42%;
      right: 17%;
      transform: rotate(-45deg);
      content: '';
      width: 40px;
      height: 10px;
      background: $mainColor;
    }

    &:hover {
      background-color: $mainColor;

      &::before, &::after {
        background-color: $secondColor;
      }

      &:active {
        animation: rotation;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        background-color: $mainColor;
        color: $mainColor;
      }
    }
  }
}

.--back {
  position: absolute;
  height: 260px;
  width: 60px;
  background-color: $mainColor;
  border-radius: 50%;
}

.--lightbox {
  transform: scale(3);

  &:hover {
    cursor:zoom-out !important;
  }
}