@import 'variables';


.header {
  height: $headerHight;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: rgb(128,128,128, 0.75);
  box-shadow: 0 0 5px black;
  z-index: 2;

  &--nav {
    width: 60%;
  }

  &--menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      color: gold;
      font-size: 2em;
      cursor: pointer;
      background-size: cover;

      a {
        color: $mainColor;
        text-decoration: none;

        &:hover {
          color: white;
          text-shadow: 1px 1px 1px black;
        }
      }

      &:active {
        color: red;
      }
    }
  }

  &--feedback {
    margin-right: 10px;
  }
}