@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,300;0,700;1,400&display=swap');
@import 'header';
@import 'variables';
@import 'sort';
@import 'game-list-Item';
@import 'game-card';
@import 'loader';
@import 'pagination';
@import 'modal-contacts';
@import 'game-list-sort';
@import 'slider.scss';
@import "news";
@import "footer";
@import 'contacts';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Alumni Sans', sans-serif;
}

ol, ul, {
  list-style: none;
}

a {
  text-decoration: none;
}

//----------------------------------

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background: radial-gradient(gold 1%, midnightblue);
  background-size: cover;
  width: 100%;
  height: 100%;
}

main {
  padding-top: 125px;
  margin-bottom: 50px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.btn {
  background-color: midnightblue;
  width: 150px;
  height: 30px;
  line-height: 1em;
  font-size: 1.3em;
  font-weight: bold;
  color: $mainColor;
  cursor: pointer;
  border-radius: 12px;

  &:hover {
    background-color: $mainColor;
    border: 3px solid $secondColor;
    color: $secondColor;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.--visibility {
  display: none;
}
