@import "variables";
@import "animations";

#loader {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  border: 30px solid $mainColor;
  box-shadow: 0 0 0 15px grey;
  box-sizing: border-box;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.8;
  z-index: 4;

  &::after {
    position: absolute;
    transform: rotate(91deg) translateX(-85px) translateY(-34px);
    border: 50px solid transparent;
    border-top: 60px solid grey;
    content: '';
    height: 40px;
    width: 40px;
    box-sizing: border-box;
  }

  &::before {
    position: absolute;
    transform: rotateZ(270deg) translateX(-221px) translateY(76px);
    border: 50px solid transparent;
    border-top: 60px solid grey;
    content: '';
    height: 40px;
    width: 40px;
    box-sizing: border-box;
  }
}
