@import "variables";

@mixin inputCommon {
  width: 90%;
  height: 25px;
  border-radius: $borderRadius;
  margin: 5px;
  color: rgba(0,0,0, 0.5);
  font-weight: bold;
  text-align: center;
  background-color: lightgray;

  &:hover {
    background-color: gold;
  }
}

@mixin titleCommon {
  width: 400px;
  height: 60px;
  color: $mainColor;
  text-align: center;
  font-size: 3em;
  background-color: $secondColor;
  box-shadow: 15px 8px 0 $mainColor;
  border-radius: $borderRadius;
}