@import "variables";
@import "mixins";
@import "@/style/animations.scss";

.modal {
  display: none;
  position: absolute;
  top: $headerHight;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;

  &--btn {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10;
    overflow: hidden;
  }

  &--window {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 500px;
    background: radial-gradient(gold 1%, midnightblue);
    border-radius: $borderRadius 0 0 $borderRadius;
    border-top: 25px solid $mainColor;
    border-bottom: 25px solid $mainColor;
    z-index: 11;
    overflow: hidden;

    form  {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }

    label {
      display: flex;
      justify-content: center;
      width: 100%;
      color: $mainColor;
      font-size: 1.2em;
      margin: 5px 0;
    }

    #name {
      @include inputCommon
    }

    #email {
      @include inputCommon
    }

    #theme {
      @include inputCommon
    }

    #message {
      @include inputCommon;
      height: 200px;
      text-align: start;
      &::placeholder {
        text-align: center;
      }
    }

    button {
      top: 30px;
      width: 90%;
      height: 40px;
      margin: 0 auto;
      padding: 5px;
    }
  }
}

.--open {
  display: block;
  height: 100%;
}

.--open > .modal--window {
  animation: openWindow;
  animation-duration: 0.6s;
}

.--close {
  display: block;
}

.--close > .modal--window {
  animation: closeWindow;
  animation-duration: 0.6s;
}
