@import 'variables';
@import "mixins";

.news {
  position: relative;
  top: -35px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 70%;
  height: 700px;
  background-color: #fff;
  box-shadow: 15px 8px 0 $secondColor;

  &--title {
    position: relative;
    top: 100px;
    left: -100px;
    @include titleCommon;
  }
}
