@import "variables";

.pagination {
  position: absolute;

  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128,128,128, 0.8);
  height: 30px;
  margin: 0 auto;
  z-index: 3;

  &--btn {
    width: 150px;
    height: 30px;
    line-height: 1em;
    font-size: 1.3em;
    font-weight: bold;
    color: gold;
    background-color: rgb(128,128,128, 0.8);
    cursor: pointer;

    &:first-child {
      border-radius:  $borderRadius 0 0  $borderRadius;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }

    &:hover {
      background-color: $mainColor;
      border: 3px solid $secondColor;
      color: black;
    }
  }

  &--wrapper {
    position: relative;
    width: 500px;
    height: 30px;
    overflow: hidden;
  }

  &--number {
    position: absolute;
    display: flex;
    flex: 20%;
    background-color: wheat;
    height: 30px;
    width: content-box;
    transform: translateX(200px);
    transition: all 0.3s linear;
  }

    &--number .active {
      background-color: $secondColor;
      color: $mainColor;
      font-size: 2em;
      font-weight: bold;
    }

  &--page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: rgb(128,128,128, 0.8);
    color: $secondColor;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: $mainColor;
      border: 3px solid $secondColor;
      color: $secondColor;
    }
  }
}

