@import "./variables";

.slider {
  position: relative;
  top: -$marginTopForContacts;
  width: 100%;
  height: 700px;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 7px solid black;

  &--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
  }

  &--categories {
    position: relative;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__item {
      position: relative;
      height: inherit;
      flex: 33%;
      transition: all 0.3s ease;

      &:nth-child(1) {
        border-right: 12px solid black;
        background-image: url(../assets/bg-games-hover.jpg);
        background-size: cover;
        &:hover {
          background-image: url(../assets/bg-games.jpeg);
        }
      }

      &:nth-child(2) {
        background-image: url(../assets/bg-films-hover.jpg);
        background-size: cover;
        &:hover {
          background-image: url(../assets/bg-films.jpeg);
        }
      }

      &:nth-child(3) {
        background-image: url(../assets/bg-music-hover.jpg);
        background-size: cover;
        border-left: 12px solid black;
        &:hover {
          background-image: url(../assets/bg-music.jpg);
        }
      }

      &:hover > .__btn {
        background-color: black;
        color: gold;

        &:focus::before {
          position: absolute;
          transform: translateX(150px);
          background-color: red;
        }

      }
    }

    &__btn {
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 35%;
      width: 200px;
      height: 50px;
      font-size: 2em;
      transition: transform 0.3s ease;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        background-color: green;
        transition: transform 0.1s ease;
      }


    }
  }
}
