@import 'variables';

.sort {
  position: fixed;
  top: $headerHight + 15;
  display: block;
  width: 350px;
  height: 85vh;
  margin: 0 auto;
  background-color: $mainColor;
  border-right: 33px solid $secondColor;
  border-radius: 0 12px 12px 0;
  z-index: 5;
  transition: all 0.3s ease-in-out;

  &:hover::after {
    color: $secondColor;
  }
  
  &--btn {
    position: absolute;
    bottom: 10px;
    right: 25%;
  }
  
  &--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &--title {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    border-bottom: 1px solid $secondColor;
  }

  &--el {
    padding: 4px 8px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgba(211,211,211, 0.5);
    font-size: 1.2em;
    cursor: pointer;
    box-sizing: content-box;

    &:hover {
      background-color: $secondColor;
      color: $mainColor;
    }
  }

  &:hover {
    border-color: $mainColor;
    color: $secondColor;
  }
}

.--hide {
  transform: translateX(-91%);
  transition: all 0.3s ease-in-out;

  &::after {
    content: 'Фильтр';
    padding: 0;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: rotate(-90deg);
    height: 30px;
    color: $mainColor;
    font-size:  2em;
    font-weight: bold;
  }
}

.--selected {
  background-color: $secondColor;
  color: $mainColor;
}
