$headerHight: 75px;
$sliderHight: 700px;
$borderRadius: 12px;
$footerHight: 200px;
$marginTopForContacts: 125px;
// Colors

$mainColor: gold;
$secondColor: rgba(12, 18, 50);
$filmColor: #a7ff00;
$headerColor: rgb(128,128,128, 0.75);